<div>
    <button class="btn btn-primary" type="submit">
        <i class="fa-solid fa-plus"></i>  Create
    </button>
    <a asp-action="Index">
        <button class="btn IndexButton">

            <i class="fa-solid fa-circle-arrow-left"></i> Back to List
        </button>
        </a>

</div>