<div>
    <button type="submit" class="btn btn-primary" >
        <i class="fa-solid fa-floppy-disk"></i>  Save
    </button> 
    <a asp-action="Index">
        <button class="btn IndexButton">

            <i class="fa-solid fa-circle-arrow-left"></i> Back to List
        </button>
    </a>


</div>